<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre | Registro</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/c7a14b7db2.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">

        <div class="header--logo">
            <a href=""><img src="/images/logo-mercado-liebre.svg" alt=""></a>
        </div>

        <div class="header__buscador">
            <form action="">
                <div class="header__buscador-box">
                    <input type="text" placeholder="Buscar productos, marcas">

                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
        </div>
        <section class="header__section--metodo-pago">

            <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </section>

        <nav class="header__nav">
            <ul class="header__nav__ul-1">
                <li ><a href="">Ofertas</a></li>
                <li ><a href="">Tienda oficiales</a></li>
                <li ><a href="">Vender</a></li>
                <li ><a href="">Ayuda</a></li>
            </ul>
            <ul class="header__nav__ul-2">
                <li ><a href="/register">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                <li ><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li ><a href="">Mis compras</a><i
                        class="fa-sharp fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>

        <button class="header__button--menu-hamburguesa">
            <i class="fa-solid fa-bars"></i>
        </button>
    </header>

    <main class="register__main">
        <section class="register__main__section">
            <article class="register__main__section__article">
        
                <form action="" method="post">
                    <div class="form__box">
                        <input type="text" placeholder="Nombre y apellido" id="name" name="name" required>
                    </div>
                    <div class="form__box">   
                        <input type="text" placeholder="Nombre de usuario" id="username" name="username" required>
                    </div>
                    <div class="form__box">  
                        <h4>Fecha de nacimiento</h4>
                        <input type="date" id="date" name="date" required>
                    </div>
                    <div class="form__box">
                        <input type="text" placeholder="Domicilio" id="address" name="address" required>
                    </div>  
                    
                        <h4>Perfil del usuario</h4>
                        <label for="buy">Comprar</label>
                        <input type="radio" id="buy" name="user"> 

                        <label for="sell">Vender</label>
                        <input type="radio" id="sell" name="user">
                
                    
                    <div class="form__box-checkbox">
                        <h4>Intereses</h4>
                    
                        <label for="electronics">Electro</label>
                        <input type="checkbox" id="category" name="category" value="electronics">
                    
                        <label for="fashion">Moda</label>
                        <input type="checkbox" id="category" name="category" value="fashion">
                    
                        <label for="home">Hogar</label>
                        <input type="checkbox" id="category" name="category" value="home">
                    
                        <label for="toys">Juguetería</label>
                        <input type="checkbox" id="category" name="category" value="toys">
                    
                        <label for="health">Vida sana</label>
                        <input type="checkbox" id="category" name="category" value="health">
                    
                    </div> 
                    <div class="form__box-image">
                        <h4>Foto de usuario</h4>

                        <div>
                            <input  type="file" id="user-photo" name="user-photo"  required>   
                            <i class="fa-solid fa-image"></i>
                        </div>
                        
                    </div>  
                    <div class="form__box">
                        <input type="password" id="password" placeholder="Contraseña" name="password" required>
                    </div>  
                    <div class="form__box">
                        <input type="password" id="password-confirm" placeholder="Confirmar contraseña" name="password-confirm" required>
                    </div>  
                    <div class="form__box--buttons">
                        <button class="button buttons__secondary" type="reset">Borrar</button>
                        <button class="button buttons__primary-azul" type="submit"><a href="/home">Enviar</a> </button>
                    </div>
                </form>
            </article>      
        </section>

    </main>

    <footer>
        <section class="footer__section">
            <article class="footer__section__article--texto">
                <i class="fa-solid fa-credit-card"></i>
                <h2>Pagá con tarjeta o en efectivo</h2>

                <p class="texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de
                    pago. ¡Y siempre es seguro</p>
            </article>

            <article class="footer__section__article--texto">
                <i class="fa-solid fa-gift"></i>

                <h2>Envío gratis desde $ 2.500</h2>
                <p class="texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos.
                    Es un beneficio de Mercado Puntos.</p>
            </article>

            <article class="footer__section__article--texto">
                <i class="fa-solid fa-user-shield"></i>
                <h2>Seguridad, de principio a fin</h2>
                <p class="texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque
                    estás siempre protegid@.</p>
            </article>

            <article class="footer__section__article--texto-copyright">
                <p class="texto">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
        </section>
    </footer>

</body>

</html>