.footer__section{
    
    background-color: white; 
    /* border: solid 10px var(--grisClaro);
    margin:0 auto; */
}

footer i{
    color:var(--celeste);
    /* margin: 30px 100px; */
    font-size: 50px;
}

.footer__section__article--texto{
    padding:  20px;
    text-align: center;
}

.footer__section__article--texto-copyright{
    text-align: left;
    padding:  20px;
}