*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: var(--fuente);
    background-color: var(--grisClaro);
}
main{
    background-color: white;
}
img{

    width: 100%;
    margin: auto 0;
}
