.header{
    background-color: var(--amarillo);
    padding: 10px;
    display:flex;
    flex-wrap: wrap;
}
.header--logo{
    width: 50%;
    padding: 3%;
}
.header__buscador{
    padding: 3%;
    width: 50%;
}
.header__buscador-box{
position: relative;
    
}
.header__buscador-box input{ 
    width: 100%;
    position: relative;
    color: var(--grisOscuro);  
    padding: 5px;
    border: none;
    border-radius: 4px;
    padding-right: 20px ;
}

.header__buscador-box button{
    position: absolute;
    top: 5px;
    right: 0px;
    width: 15%;
    border: none;
    background-color: white;
    color: var(--grisOscuro);

}
.header__section--metodo-pago  {
    text-align: center; 
    margin: 15px 0 ;
}

.header__section--items ul {
display: none;
list-style-type: none;
text-decoration: none;
padding: 0px;
color: black;
margin: 0 0 20px 0;
margin-left: 2%;
}
.header__section--items a {

    list-style-type: none;
    text-decoration: none;
    padding: 0px;
    color: black;
    margin: 0 0 20px 0;
    }

.header__button--menu-hamburguesa {
    color: var(--grisClaro);
    background-color: var(--celeste);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-left: 45%;
    font-size: 120%;
}

@media (min-width: 361px) { /*  Navegación en tablets  */
    .header--logo{
        width: 33%;
    }
    .header__buscador{
        width: 33%;
    }
    .header__section--metodo-pago  {
        width: 33%;
    }
    .header__section--items ul {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        
        column-gap: 10px;
    }
    .header__section--items nav {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    .header__button--menu-hamburguesa{
        display: none;
    }
    
}

@media (min-width: 769px) { /* Navegación en desktop */

    
}