/* mobile first (375) movil m */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700&family=Roboto:wght@300;400;700&family=Work+Sans:wght@300;400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*                                   VARIABLES                                           */
:root{
--amarillo: #EAC926;
--azul: #03264C;
--celeste: #1259c3;
--grisOscuro: #666;
--grisClaro: #ebebeb;
--verde: #39b54a;

--fuente: 'Roboto', 'sans-serif';
    
--parrafos: 12px;
--titulos: 24px;
--precio: 18px;
--descuento: 16px;
--descripcion: 16px;
}


body{
   
    font-family: var(--fuente);
    border: solid 10px var(--grisClaro);

}

img{
    /* width: 350px;
    text-align: center;
    margin: 20px 0 0 0; */
    width: 100%;
    margin: auto 0;
}


/*                                  MAIN                                            */


main{
    /* background-color: white;  */
    margin-bottom: 10px;

}
main:last-child{
    /* background-color: white;  */
    margin-bottom: 0px;

}

.main--banner{
    width: 100vh;
}
.main__section--titulares{
    font-size: var(--titulos);
}
.main__section__article--precio{
    font-size:18px;
}
.main__section__article--descuento{
    font-size:16px;
}
.main__section--texto{
    font-size:16px;
}
/*                                  HEADER                                            */
.header{
    background-color: var(--amarillo);
}
.header--logo{
    width: 190px;
    margin: 20px 15px 20px 15px;
}
.header__section--nav{
    width: 210px;
    border: solid 1px var(--grisOscuro);
    background-color: var(--grisClaro);
    margin: 15px 0 0 15px;
    color: var(--grisOscuro);
    
    

}
.header__button--search{
   margin: 0 0 0 15px;
   padding: 0px;
   
}

.header__section--metodo-pago  {
    text-align: center; 
    align-items: center;
    display: flex;
    margin: 15px 0 15px 0;
    padding-left: 5%;
    
}

.header__section--items ul {

list-style-type: none;
text-decoration: none;
padding: 0px;
color: black;
margin: 0 0 20px 0;
}
.header__section--items a {

    list-style-type: none;
    text-decoration: none;
    padding: 0px;
    color: black;
    margin: 0 0 20px 0;
    }

/* .loginbar{

} */

.header__button--menu {
    color: var(--grisClaro);
    background-color: var(--celeste);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-left: 45%;
    font-size: 120%;
}

/*                                  FOOTER                                            */

footer{
background-color: white;
border: solid 10px var(--grisClaro);

}

footer i{
    color:var(--celeste);
    /* text-align: center;
    align-items: center;
    align-content: center; */
    margin: 30px 100px;
    font-size: 50px;
}

.footer__section--pago{
    padding:  20px;
    text-align: center;
}
.footer__section--envio{
    padding:  20px;
    text-align: center;
}
.footer__section--seguridad{
    padding:  20px;
    text-align: center;
}

.footer__section--copyright{
    padding:  20px;
    text-align: left;
}